.tdeeCalculator-container {
  height: 100vh;
  padding-top: 40px;
  display: flex;
  color: white;
  background-color: #1b1c1e;
}

.tdeeCalculator-container h5,
.tdeeCalculator-container p {
  font-weight: 400;
}
.tdee-Calculator {
  background-color: var(--animation-color);
  margin-top: 7px;
  border-top: 1px solid #1b1c1e;
  border-right: 1px solid #1b1c1e;
  padding-top: 20px;
}
.tdeeCalculator-container h1 {
  text-align: center;
  margin: 95px auto 20px;
  font-size: 2.5rem;
  width: 400px;
}
form {
  max-width: 100%;
}
.form-container {
  display: flex;
  align-items: center;
}
#male,
#female {
  width: 40px;
  margin: 0 20px;
}
.form-container:first-child {
  max-width: 90%;
  align-items: center;
}
.form-container label {
  width: 40%;
  font-size: 1.5rem;
  margin: 10px 40px 0 20px;
  padding-left: 30px;
}
.form-container input {
  width: 40%;
  margin: 20px 0;
  height: 6vh;
  font-size: 1.5rem;
  padding: 10px;
}
#myActivity {
  height: 6vh;
  width: 40%;
  margin: 20px 0;
  font-size: 1.5rem;
}
#submit {
  margin: 20px auto;
}
#submit:hover {
  background-color: #1b1c1e;
  color: white;
  transition: 0.5s;
}
.tdee-result-container {
  padding: 50px;
}
#stats {
  position: absolute;
  top: 40%;
  left: 43%;
  font-size: 3rem;
  padding: 50px;
  color: #48cfad;
}
.maintenanceCals-container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.maintenanceCals {
  width: 50%;
  text-align: center;
  background-color: #48cfad;
  padding-top: 50px;
}
.maintenanceCals h2,
.maintenanceCals-defenition h2 {
  font-size: 2.2rem;
}
.maintenanceCals-defenition {
  width: 40%;
  text-align: center;
}
.CalsPerday-Perweek {
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 90%;
  font-size: 2rem;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.italic {
  font-size: 1rem;
  font-style: italic;
}
.LoseOrGain {
  margin: 15px auto 0;
  display: none;
  width: 90%;
  text-align: center;
  background-color: white;
  color: #1b1c1e;
  padding: 20px;
}
.LoseOrGain h3 {
  font-size: 2rem;
  margin: 0 0 20px 0;
}
.LoseOrGain button {
  padding: 15px;
  color: white;
  margin: 0 10px 0 0;
  background: #1b1c1e;
  font-size: 20px;
  border: 1px solid #48cfad;
}
.LoseOrGain button:hover {
  background-color: #48cfad;
  border: 1px solid #1b1c1e;

  box-shadow: -9px -9px 18px #ab9292, 9px 9px 18px #e7c6c6;
  font-size: 20px;
  transition: 0.5s;
}
.maintenanceCals-defenition {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  color: white;
}
.maintenanceCals-defenition h3 {
  margin-top: -25px;
}
.maintenanceCals-defenition h5 {
  margin-bottom: -20px;
  font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
  header {
    padding: 0 5%;
  }
  .tdeeCalculator-container {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .tdeeCalculator-container h1 {
    text-align: center;
    margin: 10px auto;
    font-size: 2rem;
    width: 90%;
  }
  .tdee-Calculator {
    width: 90%;
    margin: 50px auto;
  }
  .tdee-result {
    margin: 0;
  }
  .form-container:first-child {
    width: 385px;
    margin: 0;
  }
  #male,
  #female {
    width: 20px;
    margin: 0 10px;
  }
  .tdee-Calculator form {
    width: 90%;
    margin: 0;
  }
  .tdee-result-container {
    padding: 0;
  }
  .maintenanceCals-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    flex-direction: column;
  }
  .maintenanceCals,
  .maintenanceCals-defenition {
    width: 90%;
    margin: 0px auto;
  }
  .maintenanceCals h2,
  .maintenanceCals-defenition h2 {
    font-size: 1.5rem;
  }
  .LoseOrGain button {
    margin: 5px;
  }
  #submit {
    padding: 5px 5px 15px 10px;
    font-size: 1.2em;
  }
  .form-container:last-child {
    padding-bottom: 20px;
    margin-left: 10%;
  }
}
